@model BreadcrumbModel
@using HomeControl.Views.Shared

<div name="Breadcrumb" id="@Model.Id" class="grid" style="grid-template-columns: auto 1fr">
	<button class="breadcrumb-dropdown-button empty hidden h3">...</button>

	<div>
		@for (int i = 0; i < Model.Breadcrumbs.Count; i++)
		{
			var breadcrumb = Model.Breadcrumbs[i];

			if (i > 0)
			{
				if (Model.SeparatorClasses.Count > 0)
				{
					<span style="white-space: nowrap" class="@string.Join(' ', Model.SeparatorClasses)">@Model.Separator</span>
				}
				else
				{
					<span style="white-space: nowrap">@Model.Separator</span>
				}
			}

			if (breadcrumb.IsEnabled)
			{
				if (breadcrumb.Classes.Count > 0)
				{
					<a href="@breadcrumb.Uri" style="white-space: nowrap" class="@string.Join(' ', breadcrumb.Classes)">@breadcrumb.Name</a>
				}
				else
				{
					<a href="@breadcrumb.Uri" style="white-space: nowrap">@breadcrumb.Name</a>
				}
			}
			else
			{
				if (breadcrumb.Classes.Count > 0)
				{
					<span style="white-space: nowrap" class="@string.Join(' ', breadcrumb.Classes)">@breadcrumb.Name</span>
				}
				else
				{
					<span style="white-space: nowrap">@breadcrumb.Name</span>
				}
			}
		}
	</div>
</div>