@using System.Reflection;
@using HomeControl.Views.Shared
@model ViewModelPageModelBase
@inject Microsoft.AspNetCore.Antiforgery.IAntiforgery Antiforgery
@{
	ViewData["Title"] = "JavaScript";

	var requestToken = Antiforgery.GetAndStoreTokens(Context).RequestToken;
}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - HomeControl</title>
	<link rel="stylesheet" href="~/css/BaseResources.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/DarkTheme.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/HtmlTags.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
	<link rel="stylesheet" href="~/css/Breadcrumb.css" asp-append-version="true" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>
<body>
	<input id="RequestVerificationToken" type="hidden" value="@requestToken" />
	<header class="shadow-4 centered-content">
		<div class="padded-medium centered-content">
			<div style="margin-left: auto; margin-right: auto; max-width: 1000px">
				<h1 class="lesser">@ViewData["Title"]</h1>
			</div>
		</div>
	</header>
	<main role="main">
		<div id="body-container">
			@RenderBody()
		</div>
	</main>

	<div id="busy-overlay" class="overlay background40 grid hidden">
		<div class="card padded shadow-2 centered-content" style="margin: auto; min-width: 100px">
			<span id="BusyMessage"></span>
		</div>
	</div>

	<div id="dialog-overlay" class="overlay grid hidden">
		<button class="overlay-button" onclick="closeAllDialogs()" style="grid-column: 1; grid-row: 1;"></button>

		@await RenderSectionAsync("Dialogs", false)
	</div>

	<script>
		var model = @(Json.Serialize(Model.ViewModelBase))
	</script>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/mainMenu.js" asp-append-version="true"></script>
	<script src="~/js/dialog.js" asp-append-version="true"></script>
	<script src="~/js/busy.js" asp-append-version="true"></script>
	<script src="~/js/Breadcrumb.js"></script>
	<script src="~/js/Binding.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>

	@await RenderSectionAsync("Scripts", required: false)
</body>
</html>